{% extends "conteneur.html" %}

{% block corps %}
<div class="centrer_contenu">
    <div align="center">
        <img src="{{url_for('static', filename='images/obeliste_logo_dark.png')}}" alt="L'Obéliste" height="110"/>
    </div>
    <br>
    <br>
    <br>
    <h1>Bienvenue !</h1>
    <br>
    <p>
        Durant l'Antiquité, Rome compta au moins quinze obélisques en son sein <b>(1)</b> ; <i><b>l'Obéliste</b></i>
        vous propose de découvrir d'élévation en élévation les déplacements des treize obélisques antiques encore
        présents dans la ville.
    </p>
    <br>
    <p>
        L'obélisque trouve son origine en Égypte, dans les carrières de granite de Syène, à Assouan. Monument sacré
        représentant les rayons du dieu-Soleil Rê, il est généralement érigé par paires à proximité des temples. Suite à
        la bataille d'Actium en 31 avant J.-C. et la conquête romaine de l'Égypte, les obélisques commencent à arriver à
        Rome. Les deux premiers entrent dans la cité vers 10 avant notre ère sous les ordres d'Auguste, premier empereur
        romain, tandis que le dernier obélisque à rejoindre Rome y fait son entrée en 358 sous Constance II <b>(2)</b>.
    </p>
    <br>
    <p class="text-muted">
        <b>1 : </b>En plus des treize obélisques présents dans la base, mentionnons également l'obélisque de Boboli,
        anciennement érigé au temple d'Isis (Iseum) de Rome et présent de nos jours dans le jardin du même nom à
        Florence, et les fragments de l'obélisque d'Urbino, probablement issus du même temple (Source : HOARE,
        Katharine, Understanding Egyptianizing Obelisks: Appropriation in Early Imperial Rome, Thesis for the degree of
        Doctor of Philosophy, University of Southampton, 2017).
    </p>
    <p class="text-muted">
        <b>2 : </b>Source : <a href="https://www.youtube.com/watch?v=A9bR7zI88Nc">CIREVE (Centre Interdisciplinaire de
        Réalité Virtuelle), "L'installation d'un obélisque à Rome", Caen, vidéo publiée le 7 février 2020 sur YouTube
        dans le cadre des conférences des Nocturnes du Plan de Rome</a>.
    </p>
    <br><br>
    <div class="text-center">
        <a href="{{url_for('index_obelisques')}}" class="btn btn-info btn-lg">Découvrir tous les obélisques de Rome</a>
    </div>
    <br>
    <div class="text-center">
        <a href="{{url_for('index_obelisques_egyptiens')}}" class="btn btn-outline-info">Découvrir les obélisques
            égyptiens de Rome</a>
        <a href="{{url_for('index_obelisques_romains')}}" class="btn btn-outline-info">Découvrir les obélisques romains
            de Rome</a>
    </div>
    <br>
    <br>
    <div class="carte" id="map" style="width: 780px; height: 600px">
        <script type="text/javascript">
            //Source : https://nouvelle-techno.fr/articles/pas-a-pas-inserer-une-carte-openstreetmap-sur-votre-site
            //On crée une carte centrée sur Rome
            var macarte = L.map('map').setView([41.8969633792111, 12.478200000366385], 14);

            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                //Crédits
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 4,
                maxZoom: 20
            }).addTo(macarte);

            //On ajoute un marqueur pour chaque élévation d'obélisque
            {% for erige in erige %}
                //On définit la taille du marqueur
                var icon = L.icon({iconSize: [26, 40]});

                    //On n'affiche que les localisations actuelles des obélisques
                    {% if erige.erige_actuel == 1 %}
                        //Création du marqueur
                        var marker = L.marker([{{erige.localisation.localisation_latitude}}, {{erige.localisation.localisation_longitude}}]);

                        //Ajout à la carte
                        marker.addTo(macarte);

                        //Création d'un popup
                        var popup = marker.bindPopup("<a href='{{url_for('obelisque', obelisque_id=erige.obelisque.obelisque_id)}}'><b>{{erige.obelisque.obelisque_nom}}</b></a><br><i>{{erige.localisation.localisation_lieu}}</i>");
                    {% endif %}
            {% endfor %}

        </script>
    </div>
    <br>
    <!-- Légende de la carte -->
    <div class="text-center">
        <span>Localisation actuelle des treize obélisques de Rome</span>
    </div>
    <br>
    <br>
    <h3>À propos</h3>
    <br>
    <p>
        L'Obéliste est une application web réalisée sous Python à l'aide de Flask et SQLAlchemy.
    </p>
    <p>
        Visant à gérer et visualiser une base de données relationnelle, elle a été créée dans le cadre du cours
        d'Introduction au développement applicatif dispensé par M. Thibault Clérice au Master 2 <a
            href="https://www.chartes.psl.eu/fr/cursus/master-technologies-numeriques-appliquees-histoire">"Technologies
        numériques appliquées à l'histoire"</a> de l'École nationale des chartes.
    </p>
    <br>
    <!-- Logo de l'ENC -->
    <div class="text-center">
        <a href="https://www.chartes.psl.eu/fr"><img src="{{url_for('static', filename='images/chartes.png')}}"
                                                     alt="École nationale des chartes" height="40"/></a>
    </div>
</div>
{% endblock %}