{% extends "conteneur.html" %}
{% block afternav %}
    {% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}

<h1>Bienvenue sur l'Obéliste !</h1>
<br>
<p>
    Lorem ipsum dolor sit amet. Qui exercitationem quis ut modi quaerat eum fugiat voluptate sed galisum temporibus. Ea asperiores dolore non temporibus voluptatibus sed ducimus esse ut corrupti sapiente id natus internos nam nobis deleniti. Est quia dolores qui officiis sunt non quasi laborum vel provident magnam a iste soluta.
</p>
<p>
  Aut repudiandae adipisci aut iste omnis qui rerum doloremque ut neque minima! Sit minima illum qui ratione temporibus est reprehenderit delectus est dolorem totam. Ut enim omnis ab delectus molestiae et Quis galisum aut corrupti facere non voluptas facere 33 eaque aliquam non impedit iure.
</p>
<p>
    Et illo pariatur rem nisi rerum vel maiores ducimus sit omnis similique eos porro quibusdam ut eaque quia. Libero vero qui incidunt consequuntur est sapiente nobis et molestias velit aut dicta sint et quia veritatis est eveniet velit.
</p>
<br>
{% endblock %}