{% extends "conteneur.html" %}

{% block titre %}
    | Les lieux
{% endblock %}

{% block corps %}

<style type="text/css">
    .card:hover{
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
</style>

    <h1>Index des lieux</h1>
    {% if resultats %}
        <p>{{resultats.total}} lieux sont présents dans la base :</p>

        <div class="card-columns">
            {% for localisation in resultats.items %}
            <div class="card">
                <a href="{{url_for('localisation', localisation_id=localisation.localisation_id)}}">
                    <div class="card-body">
                    <h6 class="card-title">{{localisation.localisation_lieu}}</h6>
                    <p class="card-text">{{localisation.localisation_ville}}, {{localisation.localisation_pays}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
<br>
    <nav aria-label="research-pagination">
      <ul class="pagination">
        {%- for page in resultats.iter_pages() %}
            {% if page %}
              {% if page != resultats.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('index_lieux', page=page) }}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}

            {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
            {% endif %}

        {%- endfor %}
      </ul>
    </nav>
    {% endif %}
{% endblock %}