{% extends "conteneur.html" %}

{% block titre %}| Navigation : Page {{resultats.page}}{%endblock%}

{% block corps %}

    <h1>Index des personnes</h1>
    {% if resultats %}
        <p>Il y a {{resultats.total}} personnes présentes dans la base :</p>
        <ul>
            {% for personne in resultats.items %}
                <li><a href="{{url_for('personne', personne_id=personne.personne_id)}}">{{personne.personne_nom}}</a></li>
            {% endfor %}
        </ul>
    <nav aria-label="research-pagination">
      <ul class="pagination">
        {%- for page in resultats.iter_pages() %}
            {% if page %}
              {% if page != resultats.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for("index_personnes", page=page) }}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}

            {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
            {% endif %}

        {%- endfor %}
      </ul>
    </nav>
    {% endif %}
{% endblock %}