{% extends "conteneur.html" %}

{% block corps %}
<br>
        <h1>{{erige.erige_lieu}}</h1>
        <h4>{{erige.erige_ville}}, {{erige.erige_pays}}</h4>
        <br>
        <div>
        <p>Ce lieu à accueilli les obélisques suivants :</p>
            <ul>
            {% for obelisque in obelisque %}
            <li>{{erige.erige_date}} : {{obelisque.obelisque_nom}}</li>
            {% endfor %}
            </ul>
        </div>
        <br>


    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}