{% extends "conteneur.html" %}

{% block titre %}
    | {{localisation.localisation_lieu}}
{% endblock %}

{% block corps %}
        <h1>{{localisation.localisation_lieu}}</h1>
        <h4>{{localisation.localisation_ville}}, {{localisation.localisation_pays}}</h4>
        <br>

        <div>
        <p>Ce lieu à accueilli les obélisques suivants :</p>
            <ul>
            {% for erige in erige %}
                <li><b>{{erige.erige_date}}</b> : <a href="{{url_for('obelisque', obelisque_id=erige.obelisque.obelisque_id)}}">{{erige.obelisque.obelisque_nom}}</a>, élevé par <a href="{{url_for('personne', personne_id=erige.personne.personne_id)}}">{{erige.personne.personne_nom}}</a>{% if erige.personne.personne_fonction %}, {{erige.personne.personne_fonction}}{% endif %} {% if erige.personne.personne_fonction %}{{erige.personne.personne_nationalite}}{% endif %}</li>
            {% endfor %}
            </ul>
        </div>
        <br>

{% if localisation.localisation_latitude %}
<div id="map" style="width: 800px; height: 600px">
            <script type="text/javascript">
            var macarte = L.map('map').setView([{{localisation.localisation_latitude}}, {{localisation.localisation_longitude}}], {% if localisation.localisation_ville == "Rome" %}14{% elif localisation.localisation_ville == "Cité du Vatican" %}14{% else %}10{% endif %});

                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    // Il est toujours bien de laisser le lien vers la source des données
                    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                    minZoom: 4,
                    maxZoom: 20
                }).addTo(macarte);

                // Choix de l'icône
                var icon = L.icon({
                iconSize: [26, 40]
                });

                // Création du marqueur
                var marker = L.marker([{{localisation.localisation_latitude}}, {{localisation.localisation_longitude}}]);

                // Ajout à la carte
                marker.addTo(macarte);

                // Création d'un popup
                var popup = marker.bindPopup("{{localisation.localisation_lieu}}");
        </script>
</div>
{% endif %}
<br>
    <div align="center">
        <br>
        <a href="{{url_for('index_lieux')}}">Retour à l'index des lieux</a>
        <br>
        <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
    </div>
{% endblock %}