{% extends "conteneur.html" %}

{% block titre %} | Supprimer {{supprimable.obelisque_nom}}{% endblock %}

{% block corps %}
    <h1>Suppression de l'obélisque</h1>
    <br>
    <form method="POST" action="{{url_for('obelisque_delete', obelisque_id=supprimable.obelisque_id)}}">
        <div>
            <p>Êtes-vous certain de vouloir supprimer cet obélisque ?
            <br>
            <br>
            <p><b>Nom de l'obélisque :</b> {{supprimable.obelisque_nom}}</p>
        </div>
        <br/>
        <div>
          <div>
              <button type="submit" class="btn btn-danger btn-lg">Confirmer</button>
              <a href="{{url_for('obelisque', obelisque_id=supprimable.obelisque_id)}}" class="btn btn-outline-secondary btn-lg">Annuler</a>
          </div>
        </div>
    </form>
    <br>
    <br>
    <div align="center">
        <a href="{{url_for('obelisque', obelisque_id=supprimable.obelisque_id)}}">Retour à l'obélisque</a>
        <br>
        <br>
        <a href="{{url_for('index_obelisques')}}">Retour à l'index général des obélisques</a>
        <br>
        <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
    </div>
{% endblock %}