{% extends "conteneur.html" %}

{% block titre %} | {{obelisque.obelisque_nom}}{% endblock %}

{% block corps %}
    <!-- On définit la taille de l'image, on met la légende en italique, et on centre le tout -->
    <style type="text/css">
        .illustration  {
            text-align: center;
            font-style: italic;
        }
    </style>

    <h1>{{obelisque.obelisque_nom}}</h1>
    <br>
    <!-- Image et légende -->
    <div class="illustration">
        <img src="../../static/images/img_obelisques/{{obelisque.obelisque_image_nom}}" height="650" alt="Illustration"/>
        <br>
        <a href="{{obelisque.obelisque_image_url}}">{{obelisque.obelisque_image_auteur}}</a>, <a href="{{obelisque.obelisque_image_licence_url}}">{{obelisque.obelisque_image_licence}}</a>
    </div>
    <br>
    Brève notice à venir
    <br>
    <br>
    <dl>
        <dt>Matériau</dt><dd>{{obelisque.obelisque_materiau}}</dd>
        <dt>Hauteur de l'obélisque (en mètres)</dt><dd>{{obelisque.obelisque_hauteur}}</dd>
        <dt>Hauteur totale (en mètres)</dt><dd>{{obelisque.obelisque_hauteur_avec_base}}</dd>
        <dt>Type de commande</dt><dd>{{obelisque.obelisque_type_commande}}</dd>
    </dl>
    <br>
    <dt>Élévations successives</dt>
    <br>
    <ul >
        {% for erige in erige %}
            <li>
                <b>{{erige.erige_date}} : </b><a href="{{url_for('localisation', localisation_id=erige.localisation.localisation_id)}}">{{erige.localisation.localisation_lieu}}</a> ({{erige.localisation.localisation_ville}}, {{erige.localisation.localisation_pays}}) | Commanditaire : <a href="{{url_for('personne', personne_id=erige.personne.personne_id)}}">{{erige.personne.personne_nom}}</a>{% if erige.personne.personne_fonction %}, {{erige.personne.personne_fonction}}{% endif %} {% if erige.personne.personne_nationalite %}{{erige.personne.personne_nationalite}}{% endif %}
            </li>
        {% endfor%}
    </ul>
    <div id="map" style="width: 780px; height: 600px">
        <script type="text/javascript">
            //Source : https://nouvelle-techno.fr/articles/pas-a-pas-inserer-une-carte-openstreetmap-sur-votre-site
            //On crée une carte centrée sur l'est de la Méditerranée
            var macarte = L.map('map').setView([35.74821204259156, 20.944031638393625], 5);

            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                //Crédits
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 4,
                maxZoom: 20
            }).addTo(macarte);

            {% for erige in erige %}
                //On ajoute un marqueur pour chaque lieu pour lequel on dispose de coordonnées
                {% if erige.localisation.localisation_latitude %}
                    //On définit la taille du marqueur
                    var icon = L.icon({
                        iconSize: [26, 40]
                    });

                    //Création du marqueur
                    var marker = L.marker([{{erige.localisation.localisation_latitude}}, {{erige.localisation.localisation_longitude}}]);

                    //Ajout à la carte
                    marker.addTo(macarte);

                    //Création d'un popup
                    var popup = marker.bindPopup("<a href='{{url_for('localisation', localisation_id=erige.localisation.localisation_id)}}'>{{erige.localisation.localisation_lieu}}</a></br><i>{{erige.localisation.localisation_ville}}</i>");
                {% endif %}
            {% endfor %}
        </script>
    </div>
    <br>
    <dl>
        <!-- Affichage des inscriptions latines et de leur traduction si elles existent -->
        {% if obelisque.obelisque_inscription_latine %}
            <br>
            <dt>Inscription(s) latine(s)</dt><dd>{{obelisque.obelisque_inscription_latine}}</dd>
            <dt>Inscription(s) latine(s) traduite(s)</dt><dd>{{obelisque.obelisque_inscription_latine_traduite}}</dd>
        {% endif %}
    </dl>
    <br>
    <dt>Bibliographie</dt><dd>{{obelisque.obelisque_bibliographie}}</dd>
    <br>
    <br>
    <!-- Boutons -->
    <div align="center">
        <a href="{{url_for('obelisque_update', obelisque_id=obelisque.obelisque_id)}}" class="btn btn-outline-danger">Modifier la page</a>
        <a href="{{url_for('obelisque_update', obelisque_id=obelisque.obelisque_id)}}" class="btn btn-danger">Supprimer la page</a>
        <br>
        <br>
        <a href="{{url_for('obelisque_update', obelisque_id=obelisque.obelisque_id)}}" class="btn btn-outline-danger">Ajouter une page obélisque</a>
    </div>
    <br>
    <div align="center">
        <br>
        <a href="{{url_for('index_obelisques')}}">Retour à l'index des obélisques</a>
        <br>
        <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
    </div>
{% endblock %}