{% extends "conteneur.html" %}

{% block titre %}
    | {{obelisque.obelisque_nom}}
{% endblock %}

{% block corps %}
    <style type="text/css">
        /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
        #map{
            height:400px;
        }

        .illustration  {
            text-align: center;
            font-style: italic;
        }

 /* Style the buttons that are used to open and close the accordion panel */
.accordion_perso {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: solid, 1px;
  outline: none;
  transition: 0.4s;
  border-radius: 6px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion_perso:hover {
  background-color: #E2E3DF;
}

/* Style the accordion panel. Note: hidden by default */
.panel_perso {
  padding: 0 18px;
  background-color: #F8F8F8;
  display: none;
  overflow: hidden;
}

.accordion_perso:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
    </style>



    <h1>{{obelisque.obelisque_nom}}</h1>
    <br>
    <div class="illustration">
        <img src="../../static/images/img_obelisques/{{obelisque.obelisque_image_nom}}" height="500" alt="Illustration"/>
        <br>
        <a href="{{obelisque.obelisque_image_url}}" target="_blank">{{obelisque.obelisque_image_auteur}}</a>, <a href="{{obelisque.obelisque_image_licence_url}}" target="_blank">{{obelisque.obelisque_image_licence}}</a>
    </div>
    <br>
    {{obelisque.obelisque_notice}}
    <br>
    <dl>
        <br>
        <dt>Matériau</dt><dd>{{obelisque.obelisque_materiau}}</dd>
        <dt>Hauteur (en mètres)</dt><dd>{{obelisque.obelisque_hauteur}}</dd>
        <dt>Hauteur avec base (en mètres)</dt><dd>{{obelisque.obelisque_hauteur_avec_base}}</dd>
        <dt>Type de commande</dt><dd>{{obelisque.obelisque_type_commande}}</dd>
    </dl>
    <br>
    <dt>Élévations successives :</dt>
<br>
<div >
    {% for erige in erige %}

    <button class="accordion_perso"><b>{{erige.erige_date}} : </b><a href="/lieu/{{erige.erige_id}}" target="_blank">{{erige.erige_lieu}}</a> ({{erige.erige_ville}}, {{erige.erige_pays}}) | Commanditaire : {% if erige.personne.personne_nom %}<a href="/personne/{{erige.personne.personne_id}}" target="_blank">{{erige.personne.personne_nom}}</a>, {% endif %}{{erige.personne.personne_fonction}} {{erige.personne.personne_nationalite}}</button>
    <div class="panel_perso">
    <br>
    <div id="map">
        <script>
        // CARTE
        // Fonction d'initialisation de la carte
        function initMap() {
        // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
             var macarte = L.map('map').setView([{{erige.erige_latitude}},{{erige.erige_longitude}}], 13);

             // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
             L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 4,
                maxZoom: 20
             }).addTo(macarte);

             var icon = L.icon({
                iconUrl:'images/icon.png',
                iconSize: [98, 114],
                iconAnchor: [49, 114]
             });

             var marker = L.marker({{erige.erige_latitude}},{{erige.erige_longitude}}, {icon: icon}).addTo(macarte)
             }

             window.addEventListener('load', initMap());
        </script>
    </div>

    <br>
    </div>

  {% endfor%}
</div>

<script type="text/javascript">
    var acc = document.getElementsByClassName("accordion_perso");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>

    <br>
    <dl>
        {% if obelisque.obelisque_inscription_latine %}
            <br>
            <dt>Inscription(s) latine(s)</dt><dd>{{obelisque.obelisque_inscription_latine}}</dd>
            <dt>Inscription(s) latine(s) traduite(s)</dt><dd>{{obelisque.obelisque_inscription_latine_traduite}}</dd>
        {% endif %}
    </dl>
    <br>
    <dt>Bibliographie</dt><dd>{{obelisque.obelisque_bibliographie}}</dd>
    <br>

    <div align="center">
        <br>
        <a href="{{url_for('index_obelisques')}}">Retour à l'index des obélisques</a>
        <br>
        <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
    </div>
{% endblock %}