{% extends "conteneur.html" %}

{% block titre %}
{%if obelisque %}| {{obelisque.obelisque_nom}} {% endif %}
{% endblock %}

{% block corps %}
<h1>Modification d'obélisque</h1>
<br>
{% if obelisque %}
<!-- Message affiché en cas d'envoi de modification -->
{% if updated %}
<div class="alert alert-success">
    <p>Nous vous remercions pour votre contribution</p>
    <p><a href="{{url_for('obelisque', obelisque_id=obelisque.obelisque_id)}}">Retour à l'obélisque</a> | <a
            href="{{url_for('index_obelisques')}}">Retour à l'index des obélisques</a></p>
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
</div>
{% endif %}
<form method="POST">
    <div class="mb-3">
        <label for="obelisque_nom" class="form-label"><b>Nom de l'obélisque *</b></label>
        <input type="text" name="obelisque_nom" class="form-control" id="obelisque_nom"
               value="{{obelisque.obelisque_nom}}"/>
    </div>
    <br>
    <div class="mb-3">
        <label for="obelisque_notice" class="form-label"><b>Brève notice *</b></label>
        <textarea name="obelisque_notice" class="form-control"
                  id="obelisque_notice">{{obelisque.obelisque_notice}}</textarea>
    </div>
    <div class="mb-3">
        <label for="obelisque_hauteur" class="form-label"><b>Hauteur de l'obélisque (en mètres) *</b></label>
        <input type="number" step="any" name="obelisque_hauteur" class="form-control" id="obelisque_hauteur"
               value="{{obelisque.obelisque_hauteur}}"/>
    </div>
    <div class="mb-3">
        <label for="obelisque_hauteur_avec_base" class="form-label"><b>Hauteur totale du monument (en mètres)
            *</b></label>
        <input type="number" step="any" name="obelisque_hauteur_avec_base" class="form-control"
               id="obelisque_hauteur_avec_base" value="{{obelisque.obelisque_hauteur_avec_base}}"/>
    </div>
    <div class="mb-3">
        <label for="obelisque_materiau" class="form-label"><b>Matériau composant l'obélisque *</b></label>
        <input type="text" name="obelisque_materiau" class="form-control" id="obelisque_materiau"
               value="{{obelisque.obelisque_materiau}}">
    </div>
    <div class="mb-3">
        <label for="obelisque_type_commande" class="form-label"><b>Type de commande *</b></label>
        <input type="text" name="obelisque_type_commande" class="form-control" id="obelisque_type_commande"
               value="{{obelisque.obelisque_type_commande}}">
    </div>
    <div class="mb-3">
        <label for="obelisque_inscription_latine" class="form-label"><b>Transcription d'une éventuelle inscription
            latine</b></label>
        <textarea name="obelisque_inscription_latine" class="form-control" id="obelisque_inscription_latine">{{obelisque.obelisque_inscription_latine}}</textarea>
    </div>
    <div class="mb-3">
        <label for="obelisque_inscription_latine_traduite" class="form-label"><b>Traduction d'une éventuelle inscription
            latine</b></label>
        <textarea name="obelisque_inscription_latine_traduite" class="form-control"
                  id="obelisque_inscription_latine_traduite">{{obelisque.obelisque_inscription_latine_traduite}}</textarea>
    </div>
    <div class="mb-3">
        <label for="obelisque_bibliographie" class="form-label"><b>Bibliographie utilisée pour rédiger la fiche
            *</b></label>
        <textarea name="obelisque_bibliographie" class="form-control" id="obelisque_bibliographie">{{obelisque.obelisque_bibliographie}}</textarea>
    </div>
    <br>
    <div class="mb-3">
        <label for="obelisque_image_url" class="form-label"><b>URL de l'image *</b></label>
        <input type="url" name="obelisque_image_url" class="form-control" id="obelisque_image_url"
               value="{{obelisque.obelisque_image_url}}">
    </div>
    <div class="mb-3">
        <label for="obelisque_image_auteur" class="form-label"><b>Ayant-droit de l'image *</b></label>
        <input type="text" name="obelisque_image_auteur" class="form-control" id="obelisque_image_auteur"
               value="{{obelisque.obelisque_image_auteur}}">
    </div>
    <div class="mb-3">
        <label for="obelisque_image_licence" class="form-label"><b>Licence de l'image *</b></label>
        <input type="text" name="obelisque_image_licence" class="form-control" id="obelisque_image_licence"
               value="{{obelisque.obelisque_image_licence}}">
    </div>
    <div class="mb-3">
        <label for="obelisque_image_licence_url" class="form-label"><b>URL de la licence *</b></label>
        <input type="url" name="obelisque_image_licence_url" class="form-control" id="obelisque_image_licence_url"
               value="{{obelisque.obelisque_image_licence_url}}">
    </div>
    <br>
    <br>
    <button class="btn btn-success btn-lg" type="submit">Modifier</button>
    <a href="{{url_for('obelisque', obelisque_id=obelisque.obelisque_id)}}" class="btn btn-outline-secondary btn-lg">Annuler</a>
</form>
<br>
<br>
{% endif %}
<div align="center">
    <a href="{{url_for('obelisque', obelisque_id=obelisque.obelisque_id)}}">Retour à l'obélisque</a>
    <br>
    <br>
    <a href="{{url_for('index_obelisques')}}">Retour à l'index des obélisques</a>
    <br>
    <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
</div>
{% endblock %}