{% extends "conteneur.html" %}

{% block titre %} | Ajout d'obélisque'
{% endblock %}

{% block corps %}
    <h1>Formulaire d'ajout d'obélisque</h1>
    <br>
    <form class="form" method="POST" action="{{url_for('obelisque_add')}}">
        <div class="mb-3">
            <label for="obelisque_add_nom" class="form-label"><b>Nom de l'obélisque *</b></label>
            <input type="text" class="form-control" id="obelisque_add_nom" name="obelisque_add_nom" placeholder="avec une majuscule">
        </div>

        <div class="mb-3">
            <label for="obelisque_add_hauteur" class="form-label"><b>Hauteur de l'obélisque *</b></label>
            <input type="text" class="form-control" id="obelisque_add_hauteur" name="obelisque_add_hauteur" placeholder="en minuscules">
        </div>

        <div class="mb-3">
            <label for="obelisque_add_hauteur_avec_base" class="form-label"><b>Hauteur totale du monument *</b></label>
            <input type="text" class="form-control" id="obelisque_add_hauteur_avec_base" name="obelisque_add_hauteur_avec_base" placeholder="en minuscules">
        </div>

        <div class="mb-3">
            <label for="obelisque_add_materiau" class="form-label"><b>Matériau composant l'obélisque *</b></label>
            <input type="text" class="form-control" id="obelisque_add_materiau" name="obelisque_add_materiau" placeholder="latitude décimale">
        </div>

        <div class="mb-3">
            <label for="obelisque_add_type_commande" class="form-label"><b>Type de commande *</b></label>
            <input type="text" class="form-control" id="obelisque_add_type_commande" name="obelisque_add_type_commande" placeholder="longitude décimale">
        </div>
        <div class="mb-3">
            <label for="obelisque_add_notice" class="form-label"><b>Notice de l'obélisque *</b></label>
            <input type="text" class="form-control" id="obelisque_add_notice" name="obelisque_add_notice" placeholder="longitude décimale">
        </div>
        <div class="mb-3">
            <label for="obelisque_add_inscription_latine" class="form-label"><b>Transcription d'une éventuelle inscription latine</b></label>
            <input type="text" class="form-control" id="obelisque_add_inscription_latine" name="obelisque_add_inscription_latine" placeholder="longitude décimale">
        </div>
        <div class="mb-3">
            <label for="obelisque_add_inscription_latine_traduite" class="form-label"><b>Traduction d'une éventuelle inscription latine</b></label>
            <input type="text" class="form-control" id="obelisque_add_inscription_latine_traduite" name="obelisque_add_inscription_latine_traduite" placeholder="longitude décimale">
        </div>
        <div class="mb-3">
            <label for="obelisque_add_bibliographie" class="form-label"><b>Bibliographie utilisée pour rédiger la fiche *</b></label>
            <input type="text" class="form-control" id="obelisque_add_bibliographie" name="obelisque_add_bibliographie" placeholder="longitude décimale">
        </div>
        <div class="mb-3">
            <label for="obelisque_add_image_nom" class="form-label"><b>Nom et extension du fichier image de l'obélisque *</b></label>
            <input type="text" class="form-control" id="obelisque_add_image_nom" name="obelisque_add_image_nom" placeholder="ex. : vatican.png, latran.png">
        </div>
        <div class="mb-3">
            <label for="obelisque_add_image_url" class="form-label"><b>URL de l'image *</b></label>
            <input type="text" class="form-control" id="obelisque_add_image_url" name="obelisque_add_image_url" placeholder="longitude décimale">
        </div>
         <div class="mb-3">
            <label for="obelisque_add_image_auteur" class="form-label"><b>Nom de l'ayant-droit de l'image *</b></label>
            <input type="text" class="form-control" id="obelisque_add_image_auteur" name="obelisque_add_image_auteur" placeholder="longitude décimale">
        </div>
        <div class="mb-3">
            <label for="obelisque_add_image_licence" class="form-label"><b>Licence permettant la réutilisation de l'image *</b></label>
            <input type="text" class="form-control" id="obelisque_add_image_licence" name="obelisque_add_image_licence" placeholder="longitude décimale">
        </div>
         <div class="mb-3">
            <label for="obelisque_add_image_licence_url" class="form-label"><b>URL de la licence *</b></label>
            <input type="text" class="form-control" id="obelisque_add_image_licence_url" name="obelisque_add_image_licence_url" placeholder="longitude décimale">
        </div>
        <br>
        <input type="submit" name="Ajouter" class="btn btn-success btn-lg" />
    </form>
    <br>
    <br>

    <div align="center">
        <br>
        <br>
        <a href="{{url_for('index_obelisques')}}">Retour à l'index général des obélisques</a>
        <br>
        <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
    </div>
{% endblock %}