{% extends "conteneur.html" %}

{% block titre %} | {{personne.personne_nom}}{% endblock %}

{% block corps %}
    <h1>{{personne.personne_nom}}</h1>
    <!-- On affiche l'occupation et la nationalité de la personne s'ils existent dans la base -->
    <h4>{% if personne.personne_fonction %}{{personne.personne_fonction}}{% endif %}
        {% if personne.personne_nationalite %}{{personne.personne_nationalite}}{% endif %}
    </h4>
    <br>
    <div>
        <p>Cette personne a fait ériger les obélisques suivants :</p>
        <ul>
            {% for erige in erige %}
                <li><b>{{erige.erige_date}}</b> : <a href="{{url_for('obelisque', obelisque_id=erige.obelisque.obelisque_id)}}">{{erige.obelisque.obelisque_nom}}</a>, <a href="{{url_for('localisation', localisation_id=erige.localisation.localisation_id)}}">{{erige.localisation.localisation_lieu}}</a> ({{erige.localisation.localisation_ville}}, {{erige.localisation.localisation_pays}})</li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <br>
    <!-- Historique des modifications -->
    <div>
        <h6>Historique des modifications</h6>
        {% if personne.authorships %}
            {% for modification in personne.authorships %}
                <!-- strftime permet de définir le format de la date (ici JJ/MM/AAAA, HH:MM -->
                <li><b>{{modification.user.user_nom}}</b> | {{modification.authorship_date.strftime('%d/%m/%Y, %H:%M')}}</li>
            {% endfor %}
        {% else %}
        <p>La page ne compte pas de modifications pour le moment</p>
        {% endif %}
    </div>
    <br>
    <br>
    <!-- Boutons -->
    <div align="center">
        <a href="{{url_for('personne_update', personne_id=personne.personne_id)}}" class="btn btn-outline-danger">Modifier le commanditaire</a>
        <a href="{{url_for('personne_delete', personne_id=personne.personne_id)}}" class="btn btn-danger">Supprimer le commanditaire</a>
        <br>
        <br>
        <a href="{{url_for('personne_add', personne_id=personne.personne_id)}}" class="btn btn-outline-danger">Ajouter un commanditaire</a>
    </div>
    <br>
    <div align="center">
        <br>
        <a href="{{url_for('index_personnes')}}">Retour à l'index des commanditaires</a>
        <br>
        <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
    </div>
{% endblock %}