{% extends "conteneur.html" %}

{% block titre %}
    | {{personne.personne_nom}}
{% endblock %}

{% block corps %}
        <h1>{{personne.personne_nom}}</h1>
        <h4>{{personne.personne_fonction}} {{personne.personne_nationalite}}</h4>
        <br>
        <div>
        <p>Cette personne a fait ériger les obélisques suivants :</p>
            <ul>
            {% for erige in erige %}
                <li><b>{{erige.erige_date}}</b> : <a href="/obelisque/{{erige.obelisque.obelisque_id}}" target="_blank">{{erige.obelisque.obelisque_nom}}</a>, <a href="/lieu/{{erige.erige_id}}" target="_blank">{{erige.erige_lieu}}</a> ({{erige.erige_ville}}, {{erige.erige_pays}})</li>
            {% endfor %}
            </ul>
        </div>
        <br>

    <div align="center">
        <br>
        <a href="{{url_for('index_personnes')}}">Retour à l'index des commanditaires</a>
        <br>
        <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
    </div>
{% endblock %}