<!-- {% extends "conteneur.html" %}

{% block titre %}
    {%if lieu %}| Lieu : {{lieu.place_nom}} {% endif %}
{% endblock %}

{% block corps %}
    {% if lieu %}

    <form method="POST">
        <div class="mb-3">
            <label for="placeNom" class="form-label">Nom du lieu.</label>
            <input type="text" name="placeNom" class="form-control" id="placeNom" aria-describedby="placeNomHelp" value="{{lieu.place_nom}}"/>
            <div id="placeNomHelp" class="form-text">Appellation principale du lieu.</div>
        </div>

        <div class="mb-3">
            <label for="placeLongitude" class="form-label">Longitude du lieu.</label>
            <input type="number" name="placeLongitude" class="form-control" id="placeLongitude" value="{{lieu.place_longitude}}"/>
        </div>

        <div class="mb-3">
            <label for="placeLatitude" class="form-label">Latitude du lieu</label>
            <input type="number" name="placeLatitude" class="form-control" id="placeLatitude" value="{{lieu.place_latitude}}"/>
        </div>

        <div class="mb-3">
            <label for="placeDescription" class="form-label">Latitude du lieu</label>
            <textarea name="placeDescription" class="form-control" id="placeDescription" aria-describedby="placeNomHelp">{{lieu.place_description}}
            </textarea>
        </div>

        <div class="mb-3">
            <label for="placeType" class="form-label">Type du lieu</label>
            <select name="placeType" id="placeType">
                {% for placeType in placeTypes %}
                      <option value="{{placeType}}" {% if placeType == lieu.place_type %}selected{% endif %}>
                        {{placeType}}
                      </option>
                {% endfor %}
            </select>
        </div>

        <input

    </form>
        <h1>{{lieu.place_nom}}</h1>
        <dl>
            <dt>Longitude</dt><dd>{{lieu.place_longitude}}</dd>
            <dt>Latitude</dt><dd>{{lieu.place_latitude}}</dd>
            <dt>Description</dt><dd>{{lieu.place_description}}</dd>
            <dt>Type</dt><dd>{{lieu.place_type}}</dd>
        </dl>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}
-->