{% extends "conteneur.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block corps %}
<div class="centrer_contenu">
    <h1>{{titre}}</h1>
    <br>
    {% if resultats %}
        <p>{{resultats.total}} résultats répondent à votre requête</p>
        <ul>
            {% for obelisque in resultats.items %}
                <li><a href="{{url_for('obelisque', obelisque_id=obelisque.obelisque_id)}}">{{obelisque.obelisque_nom}}</a></li>
            {% endfor %}
        </ul>
        <nav aria-label="research-pagination">
            <ul class="pagination">
                {%- for page in resultats.iter_pages() %}
                    {% if page %}
                        {% if page != resultats.page %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('recherche', keyword=keyword, page=page) }}">{{page}}</a>
                            </li>
                        {% else %}
                            <li class="page-item active disabled">
                                <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                    {% endif %}
                {%- endfor %}
            </ul>
        </nav>
    {% else %}
        <!-- Si l'utilisateur ne renseigne aucun terme -->
        <span>Veuillez renseigner un terme à rechercher</span>
    {% endif %}
</div>
{% endblock %}