<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>L'Obéliste {%block titre %}{%endblock%}</title>
        {% include "partials/css.html" %}
        {% include "partials/metadata.html" %}

        <!-- Nous chargeons les fichiers CDN de Leaflet. Le CSS AVANT le JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

        <style type="text/css">
            .hero  {
                background-position: center center;
                padding:10vh;
            }
            .container .hero {
                background-image: none;
            }
            .container {
                margin-top: 40px;
                margin-bottom: 30px;
            }
            .logo_top {
                margin-bottom: 6px;
            }
            .row {
                text-align: justify;
                margin-left: 150px;
                margin-right: 150px;
            }
            .github {
                margin-left: 13px;
            }
            .utilisateur {
                margin-left:707px;
            }




.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
        </style>
    </head>

    <body>
    <nav class="navbar navbar-expand-md navbar-dark justify-content-between" style="background-color: #3B0E2E;">
        <a class="navbar-brand" href="{{ url_for('accueil') }}"><img class="logo_top" src="{{url_for('static', filename='images/obeliste_logo_light.png')}}" alt="L'Obéliste" height="25"/></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Les obélisques</a>

                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-item"><a href="/index_obelisques">Tous les obélisques</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><a href="/index_obelisques_egyptiens">Les obélisques égyptiens</a></li>
                        <li class="dropdown-item"><a href="/index_obelisques_romains">Les obélisques romains</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Les commanditaires</a>

                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-item"><a href="/index_personnes">Tous les commanditaires</a></li>
                        <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a  class="dropdown-item" href="#">Par nationalité</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Égyptienne</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/5">Apriès</a></li>
                                            <li class="dropdown-item"><a href="/personne/4">Psammétique II</a></li>
                                            <li class="dropdown-item"><a href="/personne/3">Ramsès II</a></li>
                                            <li class="dropdown-item"><a href="/personne/9">Thoutmôsis IV</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Espagnole</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/19">Manuel Godoy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Italienne</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/12">Alexandre VII</a></li>
                                            <li class="dropdown-item"><a href="/personne/13">Clément XI</a></li>
                                            <li class="dropdown-item"><a href="/personne/22">Clément XII</a></li>
                                            <li class="dropdown-item"><a href="/personne/26">Clément XIV</a></li>
                                            <li class="dropdown-item"><a href="/personne/11">Cyriaque Mattei</a></li>
                                            <li class="dropdown-item"><a href="/personne/15">Gouvernement italien</a></li>
                                            <li class="dropdown-item"><a href="/personne/21">Innocent X</a></li>
                                            <li class="dropdown-item"><a href="/personne/14">Pie VI</a></li>
                                            <li class="dropdown-item"><a href="/personne/25">Pie VII</a></li>
                                            <li class="dropdown-item"><a href="/personne/10">Sixte V</a></li>
                                            <li class="dropdown-item"><a href="/personne/27">Urbain VIII</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Romaine</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/6">Auguste</a></li>
                                            <li class="dropdown-item"><a href="/personne/18">Caius Cornelius Gallus</a></li>
                                            <li class="dropdown-item"><a href="/personne/7">Caligula</a></li>
                                            <li class="dropdown-item"><a href="/personne/17">Constance II</a></li>
                                            <li class="dropdown-item"><a href="/personne/8">Domitien</a></li>
                                            <li class="dropdown-item"><a href="/personne/23">Hadrien</a></li>
                                            <li class="dropdown-item"><a href="/personne/24">Héliogabale</a></li>
                                            <li class="dropdown-item"><a href="/personne/20">Maxence</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a  class="dropdown-item" href="#">Par fonctions</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Ancien Premier Ministre</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/19">Manuel Godoy</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Collectionneur d'art</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/11">Cyriaque Mattei</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Empereur</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/6">Auguste</a></li>
                                            <li class="dropdown-item"><a href="/personne/7">Caligula</a></li>
                                            <li class="dropdown-item"><a href="/personne/17">Constance II</a></li>
                                            <li class="dropdown-item"><a href="/personne/8">Domitien</a></li>
                                            <li class="dropdown-item"><a href="/personne/23">Hadrien</a></li>
                                            <li class="dropdown-item"><a href="/personne/24">Héliogabale</a></li>
                                            <li class="dropdown-item"><a href="/personne/20">Maxence</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Gouvernement</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/15">Gouvernement italien</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Pape</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/12">Alexandre VII</a></li>
                                            <li class="dropdown-item"><a href="/personne/13">Clément XI</a></li>
                                            <li class="dropdown-item"><a href="/personne/22">Clément XII</a></li>
                                            <li class="dropdown-item"><a href="/personne/26">Clément XIV</a></li>
                                            <li class="dropdown-item"><a href="/personne/21">Innocent X</a></li>
                                            <li class="dropdown-item"><a href="/personne/14">Pie VI</a></li>
                                            <li class="dropdown-item"><a href="/personne/25">Pie VII</a></li>
                                            <li class="dropdown-item"><a href="/personne/10">Sixte V</a></li>
                                            <li class="dropdown-item"><a href="/personne/27">Urbain VIII</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Pharaon</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/5">Apriès</a></li>
                                            <li class="dropdown-item"><a href="/personne/4">Psammétique II</a></li>
                                            <li class="dropdown-item"><a href="/personne/3">Ramsès II</a></li>
                                            <li class="dropdown-item"><a href="/personne/9">Thoutmôsis IV</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">Préfet</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="/personne/18">Caius Cornelius Gallus</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Les lieux</a>

                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-item"><a href="index_lieux">Tous les lieux</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-submenu">
                            <a  class="dropdown-item" href="#">Égypte</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">Alexandrie</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a href="/lieu/5">Forum julien</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">Héliopolis</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a href="/lieu/8">Temple de Rê</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">Karnak</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a href="/lieu/1">Temple d'Amon</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">Saïs</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a href="/lieu/17">Temple de Neith</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">Ville inconnue</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a href="/lieu/4">Lieu inconnu</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a  class="dropdown-item" href="#">Italie</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">Rome</a>
                                    <ul class="dropdown-menu">
                                        <h6 class="dropdown-header">Lieux antiques</h6>
                                        <li class="dropdown-item"><a href="/lieu/2">Circus Maximus</a></li>
                                        <li class="dropdown-item"><a href="/lieu/40">Circus Varianus</a></li>
                                        <li class="dropdown-item"><a href="/lieu/6">Circus Vaticanus</a></li>
                                        <li class="dropdown-item"><a href="/lieu/12">Horologium d'Auguste</a></li>
                                        <li class="dropdown-item"><a href="/lieu/15">Iseum</a></li>
                                        <li class="dropdown-item"><a href="/lieu/36">Jardins de Salluste</a></li>
                                        <li class="dropdown-item"><a href="/lieu/32">Mausolée d'Auguste</a></li>
                                        <h6 class="dropdown-header">Lieux modernes et contemporains</h6>
                                        <li class="dropdown-item"><a href="/lieu/26">Capitole</a></li>
                                        <li class="dropdown-item"><a href="/lieu/38">Escalier d'Espagne</a></li>
                                        <li class="dropdown-item"><a href="/lieu/23">Giardini Einaudi</a></li>
                                        <li class="dropdown-item"><a href="/lieu/43">Jardins du Pincio</a></li>
                                        <li class="dropdown-item"><a href="/lieu/37">Latran</a></li>
                                        <li class="dropdown-item"><a href="/lieu/41">Palais Barberini</a></li>
                                        <li class="dropdown-item"><a href="/lieu/22">Piazza del Cinquecento</a></li>
                                        <li class="dropdown-item"><a href="/lieu/10">Piazza del Popolo</a></li>
                                        <li class="dropdown-item"><a href="/lieu/35">Place de l'Esquilin</a></li>
                                        <li class="dropdown-item"><a href="/lieu/13">Place de Montecitorio</a></li>
                                        <li class="dropdown-item"><a href="/lieu/19">Place de la Minerve</a></li>
                                        <li class="dropdown-item"><a href="/lieu/16">Place du Panthéon</a></li>
                                        <li class="dropdown-item"><a href="/lieu/33">Place du Quirinal</a></li>
                                        <li class="dropdown-item"><a href="/lieu/31">Place Navone</a></li>
                                        <li class="dropdown-item"><a href="/lieu/3">Place Saint-Jean-de-Latran</a></li>
                                        <li class="dropdown-item"><a href="/lieu/27">Villa Celimontana, hippodrome</a></li>
                                        <li class="dropdown-item"><a href="/lieu/28">Villa Celimontana, jardins</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">Tivoli</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a href="/lieu/39">Villa d'Hadrien</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">Voie Appienne</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a href="/lieu/30">Circus Maxentius</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a  class="dropdown-item" href="#">Vatican</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">Cité du Vatican</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a href="/lieu/42">Cour de la Pigne</a></li>
                                        <li class="dropdown-item"><a href="/lieu/7">Place Saint-Pierre</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
            </ul>
                {% if not current_user.is_authenticated %}
                <li class="nav-item utilisateur">
                    <a class="nav-link" href="{{url_for("inscription")}}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for("connexion")}}">Connexion</a>
                </li>
                {% else %}
                <li class="nav-item utilisateur">
                    <a class="nav-link" href="{{url_for("deconnexion")}}">Déconnexion ({{current_user.user_nom}})</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline" action="{{url_for("recherche")}}" method="GET">
                <input class="form-control" name="keyword" type="search" placeholder="Chercher un obélisque" aria-label="Recherche">
                <button class="btn btn-info" type="submit">Rechercher</button>
            </form>
        </div>
    </nav>

      {% block afternav %}{%endblock%}
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row">
              <div class="col">
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
              </div>
          </div>
          {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
        </div>
      </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<!-- Always remember to call the above files first before calling the bootstrap.min.js file -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    </body>
    <br>
    <br>
    <br>
    <footer class="text-center text-white fixed-bottom" style="background-color: #3B0E2E;">
      <div class="text-center p-2">
          ©L'Obéliste - Ariane Menu, 2022<a class="github" href="https://github.com/A-Menu/Obeliste.git" target="_blank"><img width="28" height="28" src="{{url_for('static', filename='images/github_logo.png')}}" alt="Voir l'application sur GitHub" title="Voir l'application sur Github"></a>
      </div>
    </footer>
</html>